# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*
Build*
built*
.vscode/settings.json
230912_complejos/datos.txt
230912_complejos/main.cpp
230912_complejos/CMakeFiles/3.22.1/CMakeCCompiler.cmake
230912_complejos/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
230912_complejos/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
230912_complejos/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
230912_complejos/CMakeFiles/3.22.1/CMakeSystem.cmake
230912_complejos/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
230912_complejos/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
230912_complejos/Complejos/cmake_install.cmake
230912_complejos/Complejos/CMakeCache.txt
230912_complejos/Complejos/CMakeLists.txt
230912_complejos/Complejos/cplx
230912_complejos/Complejos/datos.txt
230912_complejos/Complejos/main_1000091403_1000091309.cpp
230912_complejos/Complejos/Makefile
230912_complejos/Complejos/CMakeFiles/cmake.check_cache
230912_complejos/Complejos/CMakeFiles/CMakeDirectoryInformation.cmake
230912_complejos/Complejos/CMakeFiles/CMakeOutput.log
230912_complejos/Complejos/CMakeFiles/Makefile.cmake
230912_complejos/Complejos/CMakeFiles/Makefile2
230912_complejos/Complejos/CMakeFiles/progress.marks
230912_complejos/Complejos/CMakeFiles/TargetDirectories.txt
230912_complejos/Complejos/CMakeFiles/3.22.1/CMakeCCompiler.cmake
230912_complejos/Complejos/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
230912_complejos/Complejos/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
230912_complejos/Complejos/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
230912_complejos/Complejos/CMakeFiles/3.22.1/CMakeSystem.cmake
230912_complejos/Complejos/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
230912_complejos/Complejos/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
230912_complejos/Complejos/CMakeFiles/cplx.dir/cmake_clean.cmake
230912_complejos/Complejos/CMakeFiles/cplx.dir/compiler_depend.internal
230912_complejos/Complejos/CMakeFiles/cplx.dir/compiler_depend.make
230912_complejos/Complejos/CMakeFiles/cplx.dir/compiler_depend.ts
230912_complejos/Complejos/CMakeFiles/cplx.dir/depend.make
230912_complejos/Complejos/CMakeFiles/cplx.dir/DependInfo.cmake
230912_complejos/Complejos/CMakeFiles/cplx.dir/flags.make
230912_complejos/Complejos/CMakeFiles/cplx.dir/link.txt
230912_complejos/Complejos/CMakeFiles/cplx.dir/progress.make
230915_struct/tarea_orden_cplx/main_1000091403_1000091309.cpp
parcial_1/cmake_install.cmake
parcial_1/CMakeCache.txt
parcial_1/CMakeLists.txt
parcial_1/datos.txt
parcial_1/main.cpp
parcial_1/Makefile
parcial_1/CMakeFiles/cmake.check_cache
parcial_1/CMakeFiles/CMakeDirectoryInformation.cmake
parcial_1/CMakeFiles/CMakeOutput.log
parcial_1/CMakeFiles/Makefile.cmake
parcial_1/CMakeFiles/Makefile2
parcial_1/CMakeFiles/progress.marks
parcial_1/CMakeFiles/TargetDirectories.txt
parcial_1/CMakeFiles/3.22.1/CMakeCCompiler.cmake
parcial_1/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
parcial_1/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
parcial_1/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
parcial_1/CMakeFiles/3.22.1/CMakeSystem.cmake
parcial_1/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
parcial_1/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
parcial_1/CMakeFiles/distancia.dir/cmake_clean.cmake
parcial_1/CMakeFiles/distancia.dir/compiler_depend.make
parcial_1/CMakeFiles/distancia.dir/compiler_depend.ts
parcial_1/CMakeFiles/distancia.dir/depend.make
parcial_1/CMakeFiles/distancia.dir/DependInfo.cmake
parcial_1/CMakeFiles/distancia.dir/flags.make
parcial_1/CMakeFiles/distancia.dir/link.txt
parcial_1/CMakeFiles/distancia.dir/progress.make
parcial_1/CMakeFiles/Progress/1
